.container {
  max-width: 1010px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px;
  background-color: var(--white);
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
