.searchMovie {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  &Input {
    width: 100%;
    padding: 5px 10px;
    height: 40px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px black;
  }

  &Input::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  &Input:focus {
    color: #212529;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
  }
}
