@import 'normalize.css';

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --main-color: #0079ff;
  --main-color-hover: #60abff;

  --white: #fff;
  --black: #000;

  --gray-50: #f6f8ff;
  --gray-100: #697c9a;
  --gray-200: #4b6a9b;
  --gray-300: #2b3442;
  --gray-400: #1e2a47;
  --gray-500: #141d2f;

  --error-color: #f74646;

  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  --shadow-card: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Roboto', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-100);
  color: var(--black);
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}

a {
  font-family: 'Roboto', serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}
